<div class="index">
  <div class="form">
    <h1>Welcome <% if user_signed_in? %> <%= current_user.email %></h1>
      <h3><%= link_to "Create new post", new_current_post_path %></h3>
    <% else %> stranger </h1>
  <% end %>
</div>
<div class="posts">
  <%= render partial: "shared/post", collection: @all_posts %>
</div>
</div>
