<div class="index">
  <div>
    <h1>Welcome <% if user_signed_in? %>
        <%= current_user.email %></h1>
      <%= render "posts/new" %>
    <% else %> stranger </h1>
  <% end %>
</div>
  <%= render "shared/all_posts" %>
</div>
