<div class="posts">
<% @post.each do |p| %>
<p><%= p.content %> </p>
<p id="time">Created at: <%= p.created_at %></p>
<% if current_user.id == p.user_id%>
<%= link_to "Edit", edit_post_path(p.id) %> | 
<%= link_to "Delete", post_path(p.id), method: :delete, data: { confirm: "Are you sure?" } %>
<%end%>
<p>_______________</p>
<%end%>
</div>