.main {
  .index {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1em;
  }
  margin: 0px 30px 30px 30px;

  .posts {
    padding: 25px;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
  }
}

.small-text {
  font-size: 10px;
}

textarea {
  height: 200px;
  width: 300px;
}

.notice {
  margin-top: 20px;
  color: green;
  font-style: italic;
}

.alert {
  margin-top: 20px;
  color: red;
  font-style: italic;
}
